{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Wave Systems
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 100%;">
            <div class="card-body">
                <div id="chart1"></div>
                <button onclick="myFunction('jsons_plotly_rivedere/Africa.json',this)" type="button" class="btn btn-outline-primary" id="btnAfr">Africa</button>
                <button onclick="myFunction('static/jsons_plotly_rivedere/Eurpe.json',this)" type="button" class="btn btn-outline-primary" id="btnEUr">Europe</button>
                <button onclick="myFunction('static/jsons_plotly_rivedere/AmericaN.json',this)" type="button" class="btn btn-outline-primary" id="btnAmN">North America</button>
                <button onclick="myFunction('static/jsons_plotly_rivedere/AmericaS.json',this)" type="button" class="btn btn-outline-primary" id="btnAmS">South America</button>
                <button onclick="myFunction('static/jsons_plotly_rivedere/Asia1.json',this)" type="button" class="btn btn-outline-primary" id="btnAs1">Asia 1</button>
                <button onclick="myFunction('static/jsons_plotly_rivedere/Asia2.json',this)" type="button" class="btn btn-outline-primary" id="btnAs2">Asia 2</button>
                <button onclick="myFunction('static/jsons_plotly_rivedere/Asia3.json',this)" type="button" class="btn btn-outline-primary" id="btnAs3">Asia 3</button>
                <button onclick="myFunction('static/jsons_plotly_rivedere/Oceania1.json',this)" type="button" class="btn btn-outline-primary" id="btnOc1">Oceania 1</button>
                <button onclick="myFunction('static/jsons_plotly_rivedere/Oceania2.json',this)" type="button" class="btn btn-outline-primary" id="btnOc2">Oceania 2</button>
                <p class="card-text" style="padding-top: 3rem;">
                    The color identifies the relative energy of each family, it is expressed in percentage, 
                    \(m_{0_{WSys_i}} \over m_{0_{WSys_{tot}}}\). The size of the arrow represents the time averaged \(T_p\), 
                    whereas the number of the arrow are the number of wave systems that exist in that location, 
                    the direction of the arrow represent the time averaged \(MWD\) where the wave systems come from.
                <!-- 
                    When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
                \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\] -->
                </p>
            </div>
            </div>
        </div>

        <!-- <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart2"></div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                    doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                    facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                    libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                    voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                    fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                    ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                    pariatur molestias. Eum praesentium totam error aliquam,
                    tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
            </div>
        </div> -->

        <!-- <div class="card mb-4 m-auto" style="width: 90%;" data-aos="slide-up">
            <div class="card-body">
                <div id="chart3"></div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                    doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                    facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                    libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                    voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                    fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                    ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                    pariatur molestias. Eum praesentium totam error aliquam,
                    tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
            </div>
            </div>
        </div> -->
    </div>
    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        let activeButton = null;
        function myFunction(jsonFilePath, buttonElement) {
            // Remove the active class from the previously active button
            if (activeButton) {
                activeButton.classList.remove('active');
            }
            
            // Add the active class to the current button
            buttonElement.classList.add('active');
            activeButton = buttonElement;

            // Rest of your myFunction code...
            let dataj;

            loadJSONFile(jsonFilePath)
                .then(data => {
                    if (data) {
                        dataj = data;
                        console.log('JSON data loaded:', dataj);
                    }
                    Plotly.purge(chart1);
                    var graphs1 = {{ graph1JSON | safe }};
                    Plotly.newPlot("chart1", graphs1, {});
                    Plotly.plot("chart1", dataj, {});
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        function myFunction_old(jsonFilePath) {
                // var graphs2 = {{ graph2JSON | safe}};
                // Plotly.plot("chart1", graphs2,{});
                // const jsonFilePath = 'static/jsons_plotly_rivedere/Africa.json';
                let dataj;
                loadJSONFile(jsonFilePath)
                    .then(data => {
                        if (data) {
                            dataj = data;
                            console.log('JSON data loaded:', dataj);
                            }
                        Plotly.purge(chart1);
                        var graphs1 = {{ graph1JSON | safe}};
                        Plotly.newPlot("chart1", graphs1,{});
                        Plotly.plot("chart1", dataj,{});});
                // var graphs1 = {{ graph1JSON | safe}};
                // Plotly.plot("chart1", graphs1,{});
                // Plotly.plot("chart1", dataj,{});
                        };
        
        function myFunction2() {
                // var graphs2 = {{ graph2JSON | safe}};
                // Plotly.plot("chart1", graphs2,{});
                const jsonFilePath = 'static/jsons_plotly_rivedere/AmericaN.json';
                let dataj;
                loadJSONFile(jsonFilePath)
                    .then(data => {
                        if (data) {
                            dataj = data;
                            console.log('JSON data loaded:', dataj);
                            }
                        Plotly.purge(chart1);
                        var graphs1 = {{ graph1JSON | safe}};
                        Plotly.newPlot("chart1", graphs1,{});
                        Plotly.plot("chart1", dataj,{});});
                // var graphs1 = {{ graph1JSON | safe}};
                // Plotly.plot("chart1", graphs1,{});
                // Plotly.plot("chart1", dataj,{});
                        };

        // function myFunction2() {
        //     var graphs3 = {{ graph3JSON | safe}};
        //     var graphs1 = {{ graph1JSON | safe}};
        //     Plotly.newPlot("chart1", graphs1,{});
        //     Plotly.plot("chart1", graphs3,{});
        //         };

        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        // var graphs2 = {{ graph2JSON | safe}};
        // Plotly.plot("chart2", graphs2,{});

        // var graphs3 = {{ graph3JSON | safe}};
        // Plotly.plot("chart3", graphs3,{});

        // Asynchronous function to load JSON file
        function loadJSONFile(filePath) {
            return fetch(filePath)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Failed to load JSON file: ${response.status} ${response.statusText}`);
                    }
                    return response.json();
                })
                .catch(error => {
                    console.error('Error loading JSON file:', error);
                });
        }

    </script>

{% endblock %}
