@font-face {
  font-family: "fangsong";
  src: url("./fonts/lobster-regular-webfont.woff2") format("woff2"),
    url("./fonts/lobster-regular-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "fangsong";
  src: url("./fonts/worksans-variablefont_wght-webfont.woff2") format("woff2"),
    url("./fonts/worksans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0;
  /* font-family: fangsong; */
  /* background-color: black; */
}

.navbar-text {
  color: rgb(250, 250, 250);
}

.navbar-brand {
  color: rgb(250, 250, 250);
  font-family: fangsong;
  font-size: 2.5rem;
}

.navbar-brand:hover {
  color: rgb(250, 250, 250);
  font-family: fangsong;
}

.site-header-logo h1 {
  color: rgb(39, 147, 248);
  font-family: fangsong;
  font-size: 3rem;
  margin-top: 2rem;
}

.mapboxgl-canvas{
  display: flex;
  /* height: 1000px!important; */
}

#chart1{
  height: 860px;
}

/* Define a style for the active button */
.btn.active {
  background-color: #9AD8F3;
  /* color: Your desired text color; */
  /* Additional styles as needed */
}
/*-------------THE SWITCH BUTTON----------------*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*SWITCH 3 ------------------------------------------------*/

.switch3{
  position: relative;
  display: inline-block;
  width: 119px;
  height: 37px;
  border-radius: 37px;
  background-color: #f3f4f4;
  cursor: pointer;
  transition: all .3s;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(0,0,0, .3);
}
.switch3 input{
  display: none;
}
.switch3 input:checked + div{
  left: calc(119px - 32px);
  box-shadow: 0px 0px 0px white;
}
.switch3 div{
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 27px;
  background-color: rgb(230, 0, 0);
  top: 5px;
  left: 5px;
  box-shadow: 0px 0px 1px rgb(150,150,150);
  transition: all .3s;
}
.switch3 div:before, .switch3 div:after{
  position: absolute;
  content: '';
  width: calc(113px - 40px);
  height: 37px;
  line-height: 37px;
  font-family: 'Varela Round';
  font-size: 14px;
  font-weight: bold;
  top: -5px;
}
.switch3 div:before{
  content: '';
  color: rgb(120,120,120);
  left: 100%;
}
.switch3 div:after{
  content: 'HOLDED';
  right: 100%;
  color: rgb(0, 0, 0);
}

.switch3-checked{
  background-color : #e74c3c;
  box-shadow: none;
}

.button-wrapper{text-align:center;display:inline-block; margin:10px;}

/* .ball{
  background-color: #001e3d;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform .2s linear;
} */

/* .ball:before:checked{
  content: url(flag-ukraine-circle.svg);
  left: 50px;
} */

/* .ball:checked:after{
  left: 0;
} */


/* =========================================== */
/* KNOB SWITCH-NAVIGATION KNOB */
/* SWITCH
=========================================== */

.knob-col{
  scale:0.5;
}

.de {
  -webkit-user-select: none;
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, .1);
  background-color: transparent;
}

.de .den, .de .dene, .de .denem, .de .deneme, .de .light, .de .dot {
  position: absolute;
  left: 50%;
  top: 50%;
}

.den {
  position: relative;
  width: 220px;
  height: 220px;
  margin: -110px 0 0 -110px;
  border-radius: 100%;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, .6), 0 2px 20px rgb(215, 116, 255);

  background: #888888;
  background: -moz-radial-gradient(center, ellipse cover, #888888 0%, #333333 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #888888), color-stop(100%, #333333));
  background: -webkit-radial-gradient(center, ellipse cover, #888888 0%, #333333 100%);
  background: -o-radial-gradient(center, ellipse cover, #888888 0%, #333333 100%);
}

.dene {
  z-index: 4;
  width: 140px;
  height: 140px;
  margin: -70px 0 0 -70px;
  border-radius: 100%;
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .85);

  background: #f2f6f5;
  background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
  background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
}

.denem {
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border-radius: 100%;

  background: #cbd5d6;
  background: -moz-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd5d6), color-stop(100%, #f2f6f5));
  background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
  background: -o-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
}

.deneme {
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 100%;
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, .6), 0 8px 20px rgba(0, 0, 0, .9);

  background: #eef7f6;
  background: -moz-linear-gradient(top, #eef7f6 0%, #8d989a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eef7f6), color-stop(100%, #8d989a));
  background: -webkit-linear-gradient(top, #eef7f6 0%, #8d989a 100%);
  background: -o-linear-gradient(top, #eef7f6 0%, #8d989a 100%);
}

.den .switch {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.den .switch label {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70px;
  margin-top: -35px;
  -moz-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
}

.den .switch label:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 1px;
  width: 100%;
  height: 30px;
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den .switch label:before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 1px;
  width: 100%;
  height: 30px;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den .switch label span {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  font-weight: bold;
  font-size: 15px;
  line-height: 70px;
  text-align: center;
  color: #eee;
  text-shadow: 0 1px 0 #444;
}

.den .switch label:nth-child(1) {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den .switch label:nth-child(1) span {
  right: 2px;
  font-size: 13px;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den .switch label:nth-child(2) {
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den .switch label:nth-child(2) span {
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den .switch label:nth-child(3) {
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den .switch label:nth-child(3) span {
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den .switch label:nth-child(4) {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den .switch label:nth-child(4) span {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den .switch label:nth-child(5) {
  -moz-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}

.den .switch label:nth-child(5) span {
  -moz-transform: rotate(-150deg);
  -webkit-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
}

.den .switch label:nth-child(6) {
  -moz-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -o-transform: rotate(210deg);
}

.den .switch label:nth-child(6) span {
  -moz-transform: rotate(-210deg);
  -webkit-transform: rotate(-210deg);
  -o-transform: rotate(-210deg);
}

.den .switch label:nth-child(7) {
  -moz-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -o-transform: rotate(210deg);
}

.den .switch label:nth-child(7) span {
  -moz-transform: rotate(-210deg);
  -webkit-transform: rotate(-210deg);
  -o-transform: rotate(-210deg);
}

.den .switch input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* SWITCH LIGHT */

.den .light {
  z-index: 1;
  width: 50%;
  height: 100px;
  margin-top: -50px;
  -moz-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}

.den .light span {
  opacity: .4;
  position: absolute;
  top: 0;
  left: 15px;
  width: 100px;
  height: 100px;
  background: -moz-radial-gradient(center, ellipse cover, rgba(184, 163, 204, 1) 0%, rgba(159, 197, 224, 0.42) 42%, rgba(111, 113, 179, 0) 72%, rgba(67, 34, 137, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(184, 163, 204, 1)), color-stop(42%, rgba(159, 197, 224, 0.42)), color-stop(72%, rgba(111, 113, 179, 0)), color-stop(100%, rgba(67, 34, 137, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(184, 163, 204, 1) 0%, rgba(159, 197, 224, 0.42) 42%, rgba(111, 113, 179, 0) 72%, rgba(67, 34, 137, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(184, 163, 204, 1) 0%, rgba(159, 197, 224, 0.42) 42%, rgba(111, 113, 179, 0) 72%, rgba(67, 34, 137, 0) 100%);
}

/* SWITCH LIGHT POSITION */

.den #switch_off:checked ~ .light {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den #switch_1:checked ~ .light {
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den #switch_2:checked ~ .light {
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den #switch_3:checked ~ .light {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den #switch_4:checked ~ .light {
  -moz-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}

.den #switch_5:checked ~ .light {
  -moz-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -o-transform: rotate(210deg);
}

/* SWITCH LIGHT */

.den .dot {
  z-index: 6;
  width: 50%;
  height: 12px;
  margin-top: -6px;
  -moz-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}

.den .dot span {
  position: absolute;
  top: 0;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #dae2e4;
  background: -moz-linear-gradient(top, #dae2e4 0%, #ecf5f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dae2e4), color-stop(100%, #ecf5f4));
  background: -webkit-linear-gradient(top, #dae2e4 0%, #ecf5f4 100%);
  background: -o-linear-gradient(top, #dae2e4 0%, #ecf5f4 100%);
}

/* SWITCH LIGHT POSITION */

.den #switch_off:checked ~ .dot {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den #switch_off:checked ~ .dot span {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den #switch_1:checked ~ .dot {
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den #switch_1:checked ~ .dot span {
  opacity: .9;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den #switch_2:checked ~ .dot {
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.den #switch_2:checked ~ .dot span {
  opacity: .5;
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.den #switch_3:checked ~ .dot {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.den #switch_3:checked ~ .dot span {
  opacity: .4;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.den #switch_4:checked ~ .dot {
  -moz-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}

.den #switch_4:checked ~ .dot span {
  opacity: .5;
  -moz-transform: rotate(-150deg);
  -webkit-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
}

.den #switch_5:checked ~ .dot {
  -moz-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  -o-transform: rotate(210deg);
}

.den #switch_5:checked ~ .dot span {
  opacity: .9;
  -moz-transform: rotate(-210deg);
  -webkit-transform: rotate(-210deg);
  -o-transform: rotate(-210deg);
}

/* LINE */

.den hr.line {
  z-index: 1;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  border-width: 1px 0;
  border-style: solid;
  border-top-color: #3c3d3f;
  border-bottom-color: #666769;
}

.den hr.line:nth-child(1) {
  -moz-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
}

.den hr.line:nth-child(2) {
  -moz-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}

/* ===================================================
   Day/Night and Gender toggle buttons
   =================================================== */

/*  Define the fonts used in the Pen */
@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.headingOuter {
  background: #f1f1f1;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: 1.6em;
  &:first-child {
    margin-top: 0;
  }
  h1 + & {
    margin-top: 0;
  }
}


/* =====================================================
   Some may not work (theme from google) DAY NIGHT
   ===================================================== */

.col-day-night{
  scale:0.5;
  /* margin-top: -4%; */
}

.toggle {
  display: block;
  text-align: center;
  margin-top: 40px;
  user-select: none;
}

.toggle--checkbox {
  display: none;
}

.toggle--btn {
  display: block;
  margin: 0 auto;
  font-size: 1.4em;
  transition: all 350ms ease-in;
  &:hover {
    cursor: pointer;
  }
}

.toggle--btn,
.toggle--checkbox,
.toggle--feature {
  &,
  &:before,
  &:after {
    transition: all 250ms ease-in;
  }
  &:before,
  &:after {
    content: '';
    display: block;
  }
}

   :root {
    --toggleHeight: 70px;
    --toggleWidth: 125px;
    --borderWidth: 5px;
    --toggleBtnRadius: calc(var(--toggleHeight) - 14px);
    --bgColor--night: #3c4145;
    --borderColor--night: #1c1c1c;
    --toggleBtn-bgColor--night: #fff;
    --toggleBtn-borderColor--night: #e3e3c7;
    --bgColor--day: #9ee3fb;
    --borderColor--day: #86c3d7;
    --toggleBtn-bgColor--day: #ffdf6d;
    --toggleBtn-borderColor--day: #e1c348;
    --cloud-borderColor: #d3d3d3;
    --cloud-bgColor: #fff;
  }
  
  .toggle--daynight,
  .toggle--like {
    .toggle--btn {
      position: relative;
      height: var(--toggleHeight);
      width: var(--toggleWidth);
      border-radius: var(--toggleHeight);
  
      &:before {
        position: absolute;
        top: 2px;
        left: 4px;
        width: var(--toggleBtnRadius);
        height: var(--toggleBtnRadius);
        border-radius: 50%;
      }
    }
  }
  
  .toggle--daynight {
    .toggle--btn {
      border: var(--borderWidth) solid var(--borderColor--night);
      background-color: var(--bgColor--night);
  
      &:before {
        background-color: var(--toggleBtn-bgColor--night);
        border: var(--borderWidth) solid var(--toggleBtn-borderColor--night);
      }
  
      &:after {
        position: absolute;
        top: 62%;
        left: calc(var(--toggleWidth) - var(--toggleBtnRadius) - var(--borderWidth) * 2 - 20px);
        z-index: 10;
        width: calc(var(--toggleBtnRadius) / 5);
        height: calc(var(--toggleBtnRadius) / 5);
        opacity: 0;
        background-color: var(--cloud-bgColor);
        border-radius: 50%;
        box-shadow: var(--cloud-bgColor) 0 0, var(--cloud-bgColor) 3px 0, var(--cloud-bgColor) 6px 0, var(--cloud-bgColor) 9px 0, var(--cloud-bgColor) 11px 0, var(--cloud-bgColor) 14px 0, var(--cloud-bgColor) 16px 0, var(--cloud-bgColor) 21px -1px 0 1px, var(--cloud-bgColor) 16px -7px 0 -2px, var(--cloud-bgColor) 7px -7px 0 1px, var(--cloud-borderColor) 0 0 0 4px, var(--cloud-borderColor) 6px 0 0 4px, var(--cloud-borderColor) 11px 0 0 4px, var(--cloud-borderColor) 16px 0 0 4px, var(--cloud-borderColor) 21px -1px 0 5px, var(--cloud-borderColor) 16px -7px 0 1px, var(--cloud-borderColor) 7px -7px 0 5px;
        transition: opacity 100ms ease-in;
      }
    }
  
    @keyframes starry_star {
      50% {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: #fff 30px -3px 0 0, #fff 12px 10px 0 -1px, rgba(255, 255, 255, 0.1) 38px 18px 0 1px, #fff 32px 34px 0 0, rgba(255, 255, 255, 0.1) 20px 24px 0 -1.5px, #fff 5px 38px 0 1px;
      }
    }
  
    @keyframes bounceIn {
      0% {
        opacity: 0;
        transform: scale(.3);
      }
      50% {
        opacity: 100;
        transform: scale(1.1);
      }
      55% {
        transform: scale(1.1);
      }
      75% {
        transform: scale(.9);
      }
      100% {
        opacity: 100;
        transform: scale(1);
      }
    }
  
    .toggle--feature {
      display: block;
      position: absolute;
      top: 9px;
      left: 52.5%;
      z-index: 20;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 0, rgba(255, 255, 255, 0.1) 12px 10px 0 -1px, #fff 38px 18px 0 1px, rgba(255, 255, 255, 0.1) 32px 34px 0 0, #fff 20px 24px 0 -1.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 1px;
      animation: starry_star 5s ease-in-out infinite;
  
      &:before {
        position: absolute;
        top: -2px;
        left: -25px;
        width: 18px;
        height: 18px;
        background-color: var(--toggleBtn-bgColor--night);
        border-radius: 50%;
        border: var(--borderWidth) solid var(--toggleBtn-borderColor--night);
        box-shadow: var(--toggleBtn-borderColor--night) -28px 0 0 -3px, var(--toggleBtn-borderColor--night) -8px 24px 0 -2px;
        transform-origin: -6px 130%;
      }
    }
  
    .toggle--checkbox:checked {
      & + .toggle--btn {
        background-color: var(--bgColor--day);
        border: var(--borderWidth) solid var(--borderColor--day);
  
        &:before {
          left: calc(var(--toggleWidth) - var(--toggleBtnRadius) - var(--borderWidth) * 2 - 4px);
          background-color: var(--toggleBtn-bgColor--day);
          border: var(--borderWidth) solid var(--toggleBtn-borderColor--day);
        }
  
        &:after {
          opacity: 100;
          animation-name: bounceIn;
          animation-duration: 0.60s;
          animation-delay: 0.10s;
          animation-fill-mode: backwards;
          animation-timing-function: ease-in-out;
        }
  
        > .toggle--feature {
          opacity: 0;
          box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 -4px, rgba(255, 255, 255, 0.1) 12px 10px 0 -5px, #fff 38px 18px 0 -3px, rgba(255, 255, 255, 0.1) 32px 34px 0 -4px, #fff 20px 24px 0 -5.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 -3px;
          animation: none;
  
          &:before {
            left: 25px;
            transform: rotate(70deg);
          }
        }
      }
    }
  }

/* ======================================
NAVIGATION BAR 
=========================================*/

a {
  color: #333!important;
}

.menu > ul > li > ul > li > ul > li a:hover {
  background: #BED7DC;
}

.menu > .active a {
  background-color: #e1c348;
}

.menu > ul > li > ul > li a:hover {
  background: #BED7DC;
}

.menu-container {
  /* margin: 0 auto; */
  background: #5391fd;
}
.menu a.logo {
    display: inline-block;
    float: left;
}

.menu-mobile {
  display: none;
  padding: 20px;
}
.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}
.menu-dropdown-icon:before {
  content: "\f489";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  /* background: #fff; */
  color: #333;
}
.menu > ul {
  margin: 0 auto;
  width: 80%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
      clear: right;
}
.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}
.menu > ul:after {
  clear: both;
}
.menu > ul > li {
  float: left;
  /* background: #e9e9e9; */
  padding: 0;
  margin: 0;
}
.menu > ul > li a {
  text-decoration: none;
  padding: 1.5em 3em;
  display: block;
}
.menu > ul > li:hover {
  background: #f0f0f0;
}
.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #f0f0f0;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li a {
  color: #777;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
}
.menu > ul > li > ul > li p {
  color: #777;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
}
.menu > ul > li > ul > li a:hover{
	color:#03a9f4;
}
.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a {
  border: 0;    
  font-size: 14px;
}
.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
  .menu-container {
    width: 100%;
  }
  .menu-container .menu{
	display:inline-block;
   }
  .menu-mobile {
    display: block;    
    float: right;    
    padding: 20px 20px 0;
  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
    width:100%;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
  .menu > ul > li > ul {
    position: relative;    
    padding: 0 40px;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu .show-on-mobile {
    display: block;
  }
}

/* ==========================================
              FOOTER BAR
============================================= */

.footer-container{
	max-width: 20000px;
	margin:auto;
}
.footer-row{
	display: flex;
	/* flex-wrap: wrap; */
}
ul{
	list-style: none;
}
/* .footer{
	background-color: #24262b;
    padding: 70px 0;
} */
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



